@import '_common';
header{
    .header{
        z-index: 10;
        position:fixed;
        margin:0 auto;
        padding:4px 0;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom:1px solid #eee;
        background-color: #fff;
        text-align:center;
        
        .logo{
            width:40%;
        }
        .search{
            width:70%;
        }
        .menu-trigger,.menu-trigger span {
            display : inline-block;
            transition : .2s;
        }
        .menu-trigger {
            margin:10px 10px;
            position : relative;
            width : 24px;
            height : 20px;
        }
        .menu-trigger span {
            position : absolute;
            left : 0;
            width : 90%;
            height : 2px;
            background-color : #414141;
        }
        .menu-trigger span:nth-of-type(1) {
            top : 2px;
        }
        .menu-trigger span:nth-of-type(2) {
            top : 9px;
        }
        .menu-trigger span:nth-of-type(3) {
            top : 16px;
        }
        .menu-trigger.active {
            span:nth-of-type(1) {
                top : 50%; transform: rotate(-45deg);
            }
            span:nth-of-type(2) {
                top : 9px; opacity: 0;
            }
            span:nth-of-type(3) {
                top : 50%; transform: rotate(45deg);
            }
        }

    }
    
    .menu{
        z-index: 99;
        position: fixed;
        width:100%; height:100%;
        margin:48px auto;
        left:0;
        display: none;
        .header_pad{
            display:flex;
            div{
                width: 100%; height: 100%;
                padding:10px;
                background-color: #323232;
                display: inline-block;
                text-align: center;
                align-content: space-between;
                img{
                    width:30%;
                }
                p{
                    a{color:#fff;}
                }
            }
        }
        .list{
            > div{
                width:100%; height: 100%;
                background-color: #fff;
                border-bottom:1px solid #ddd;
            }
            > div:last-child{border-bottom:none;}
            .title{ 
                vertical-align: middle;
                padding:20px;
                h3{
                    font-size:22px;
                    position:relative;
                }  
                h3::after{ 
                    content:"+";
                    position:absolute;
                    right:0;
                }
                    >a{}
            }
            ul{   
                display: none;                 
                background-color: #f7f7f7;
                width:100%;
                padding:10px;
                li{
                    margin:20px;
                    a{
                        font-size:18px;
                        color:#323232;
                    }
                }
            }   
            .title1{
                width:100%; height: 100vh;
                padding:20px;
                h3{
                    a{color:#000; font-size:22px;}
                }
                div{
                    width:100%;
                    position: absolute;
                    bottom:7.5%;
                    border-top:1px solid #d5d5d5;
                    left:0%;
                    p{
                        font-size:14px; font-weight: bold;
                        margin:20px 0 0 20px;
                    a{color:#000;}
                }
            }
            }
        } 
    }
    .menu.active{
        display: block;
    }

    .search_menu{
        z-index: 99;
        position:fixed;
        background-color: #fff;
        width:100%; height: 100vh;

        opacity:0;
        transition:0.2s;
        transform: translateY(-100%);

        .menu_close{
            display: none;
            float: right;
            position: relative;
            width : 24px;
            height : 20px;    
            span{
                position:absolute;
                left:-20px;
                top:20px;
                height : 25px;
                border:1px solid #000;
            }
        }
        .menu_close.active{display: block;}
        .menu_close span:nth-child(1){transform: rotate(45deg);}
        .menu_close span:nth-child(2){transform: rotate(-45deg);}

        div{   
            width:90%;
            display:flex;
            padding:10px 0 0 0;
            margin:50px auto;
            border-bottom:1px solid #000; 
            
                input{
                    outline: none;
                    border:none; 
                    width:100%;
                    font-size:20px;    
                }
                a{
                    display:flex;
                    img{width:100%; }
                }
        }
    }
            .search_menu.active{opacity:1; transform: translateY(0);}
}

main{
    position:relative;
    .bg{
        overflow: hidden;
        .swiper-pagination{
            z-index: 20;
            position:absolute;            
            bottom:8%;

            span{
                display: inline-block;
                width:15px; height:15px;
                border:1.5px solid #fff;
                border-radius: 100%;
                background:none;
            }
            
            span.swiper-pagination-bullet-active{
                background-color: #fff;
                transition:0.3s;
            }
        
        } 
        .slide-wrap{
            display:flex;
            margin-bottom:40px;            
            
            .slide{
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                width:100%;
                    .img{
                        a{
                            img{width:100%; height: 100vh; object-fit:cover;}
                        }                    
                    }   
            }   
            .txt{
                text-align:center;
                vertical-align: middle;
                position: absolute;
                bottom:11%;
                width:100%;
                
                p{
                    color: #D8EBE6;
                    font-weight:bolder;
            }
                h3{
                    margin-top:20px;
                    font-size:36px;
                    color:#fff;
                }
            }          
        }
    }

    .event{
            display: flex;  
            opacity:0;
            transition:1s;
            margin-top:60px;
        div{
            margin:8px 8px;
            a{
                img{width:100%;}
            }
            span{
                display:inline-block;
                width : 9%;
                height : 3px;
                margin:20px 0 3px 3px;
                background-color : #414141;
            }
            .date{
                font-weight: bold; 
                display: inline; 
                letter-spacing: 0.5px;
                padding:10px 10px 10px 10px; 
            }
            h4{
                font-size:18px; 
                margin: 0; 
                margin-top:10px;
                margin-bottom:10px;
            }
            p{
                font-size:15px; 
                margin: 0; 
                margin-bottom:50px; 
                letter-spacing: -1px;
                line-height: 1.5;
            }
        }
    }
    .event.active{opacity:1; margin-top:0;}

    .X-S10{
        width:95%;
        position:relative;
        border-top:1px solid #ddd;
        margin:0 auto;
        margin-bottom:50px;
            a{  
                color:#737373;            
                img{
                    width:22%;
                    display: inline-block;
                }
            }
            .text{
                display: inline-block;
                width:25%;
                text-align:center;
                vertical-align: middle;
                font-size:14px;
                p{
                    width:100%;
                    font-size:14px;
                    letter-spacing: -1.5px;
                    color:#323232;
                }
            }
    }

    .stories{
        display: flex;  
        opacity:0;
        transition:1s;
        margin-top:10px;
        div{
            margin:8px 8px;
            a{
                img{width:100%;}
            }
            h4{                
                font-size:18px; 
                margin: 0; 
                margin-top:10px;
                margin-bottom:10px;
            }
            p{
                text-align: left;
                font-size:15px; 
                margin: 0; 
                margin-bottom:50px; 
                letter-spacing: -1px;
                line-height: 1.5;
            }
        }
    }
    .stories.active{opacity:1; margin-top:0;}

    .banner{
        position:relative;
        overflow: hidden;
        .background{            
                img{width:100%; height: 50%;}            
            .innovation{
                position:absolute;
                img{width:100%;}
            }
        }
    }
}

footer{
    position:relative;
    background-color:rgb(245, 245, 245);
    .foot{        
        width:100%;
        padding:20px;
        .customer_center{
            width:100%;
            margin:0 auto;
            border-top:3px solid #000;
            border-bottom:1px solid #d5d5d5;    
            h3{
                color:#414141; 
                padding:30px 10px; 
                font-size:16px; 
                letter-spacing: 1px;
            }
            p{
                width:100%;
                padding:0 10px; 
                font-size:18px;
                margin-bottom:20px;
                text-align: left;
            }
            ul{
                display:flex;
                width:100%;
                padding:0 10px; 
                font-size:16px;
                color:#0A0A0A;
                margin-bottom:20px;
                
                a{
                    color:#000;
                    width:100%;
                    li:nth-of-type(1){}
                    li:nth-of-type(2){}
                    li:nth-of-type(3){}
                    li:nth-of-type(4){}
                }
            }
        }
        
        .membership{
            padding:30px 10px;
            h3{color:#414141; font-size:16px;}
            p{
                padding:20px 0; 
                font-size:18px; 
                width:80%;
            }
            a{
                background-color: #000;
                color:#fff;
                padding:9px 17px;
                font-size:14px;
            }
        }
    }
    
    .contact{
        border-top:1px solid #d5d5d5;
        border-bottom:1px solid #d5d5d5;
        background-color: #fff;
        padding:17px 15px;
        h2{font-size:28px; }
        p{padding:3px; font-size:14px;}
        ul{
            display: flex;  
            padding:20px 30px;     
            li{
                a{
                    img{width:30%;}
                }
            }
        }
    }

    .info{
        background-color: #fff;
        display:flex;
        padding:17px;
        p{
            color:#0A0A0A99; 
            font-size:12px; 
            font-weight: bold; 
        }
        a{
            margin-left:50px; 
            color:#000; 
            display: inline-block; 
        }
        a.active{transform:rotate(90deg);}
    }
}